<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs169.project.thepantry"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cs169.project.thepantry.TutorialActivity"
            android:label="@string/title_activity_tutorial" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cs169.project.thepantry.InventoryActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name="cs169.project.thepantry.HomePageActivity"
            android:label="@string/title_activity_home_page" >
        </activity>
        <activity
            android:name="cs169.project.thepantry.ShoppingListActivity"
            android:label="@string/title_activity_shopping_list" >
        </activity>
        <activity
            android:name="cs169.project.thepantry.SearchResultsActivity"
            android:label="@string/title_activity_search_results" >
        </activity>
        <activity
            android:name="cs169.project.thepantry.InventoryAddActivity"
            android:label="@string/title_activity_inventory_add" >
        </activity>
        <activity
            android:name="cs169.project.thepantry.RecipeActivity"
            android:label="@string/title_activity_recipe" >
        </activity>
        <activity
            android:name="cs169.project.thepantry.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="cs169.project.thepantry.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="cs169.project.thepantry.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="cs169.project.thepantry.NavigationActivity"
            android:label="@string/title_activity_navigation" >
        </activity>
        <activity
            android:name="cs169.project.thepantry.NavMenuFragment"
            android:label="@string/title_activity_nav_menu_fragment" >
        </activity>
        <activity
            android:name="cs169.project.thepantry.BasicMenuActivity"
            android:label="@string/title_activity_basic_menu" >
        </activity>
    </application>

</manifest>